.main {
  min-height: calc(100vh - 84px);
  padding: 2rem 0;
  display: flex;
  gap: 50px;
}

.inputsContainer {
  width: 50%;
}

.form {
  display: block;
}

.form .submitButton {
  display: block;
  background-color: #10a37f;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  line-height: 20px;
  padding: 6px 12px;
  color: white;
  font-weight: 400;
  cursor: pointer;
}

.form .submitButton:hover {
  background-color: #10a37fdb;
}

.result {
  width: 50%;
}

.result p {
  margin: 0;
  line-height: 24px;
}
